.fondoCreate {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  overflow: auto;
}

.contenedorAll {
  padding-bottom: 2rem;
  width: 80%;
  background-color: #00000037;
  border-radius: 18px;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .contenedorAll {
    max-width: 80rem;
  }
}

.buttonCreate {
  padding: 1rem;
  background-color: #191630;
  color: #42bcd5;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 0.5rem;
  border: solid 1px #e6215e;
  margin: 1rem auto;
}
.buttonCreate:hover {
  cursor: pointer;
  background-color: #e6215e;
  transform: translateY(-4px);
}

.titulo {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin: 2rem auto;
  font-family: "Vibur", sans-serif;
  animation: flicker 1.5s infinite alternate;   
}
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px rgb(234, 0, 255),
      0 0 40px rgba(204, 0, 255, 0.867),
      0 0 80px rgba(204, 0, 255, 0.855),
      0 0 90px rgba(255, 0, 251, 0.7),
      0 0 100px rgba(255, 0, 242, 0.688),
      0 0 150px rgba(255, 0, 204, 0.527);
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.item {
  margin-bottom: 2%;
}

.label {
  letter-spacing: 5px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
.extensions {
  color: #fff;
  padding-bottom: 10px;
  font-size: 1rem;
}
.displayImg {
  width: 450px;
  margin-bottom: 20px;
}
.inputImg {
  margin-top: 20px;
  height: 40px;
  width: 350px;
}
.input {
  padding: 1rem;
  width: 90%;
  font-weight: bold;
  border-radius: 10px;
  border: solid 1px #e6215e;
  background-color: #191630;
  color: #42bcd5;
  font-size: 16px;
}
@media (min-width: 768px) {
  .input {
    max-width: 50rem;
  }
}

.inputDescription {
  padding: 1rem;
  width: 90%;
  font-weight: bold;
  border-radius: 10px;
  border: solid 1px #fa3898;
  background-color: #191630;
  color: #42bcd5;
  font-size: 16px;
}
@media (min-width: 768px) {
  .inputDescription {
    max-width: 50rem;
  }
}

.select {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem auto;
  display: block;
  padding: 1rem;
  width: 60%;
  background-color: #191630;
  border-radius: 0.5rem;
  border: solid 1px #191630;
  color: #fa3898;
}
@media (min-width: 768px) {
  .select {
    max-width: 50rem;
  }
}

.listaP {
  display: inline-flex;
  font-weight: bold;
}

.divP {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.buttonx {
  border-radius: 0.7rem;
  border: solid 1px #191630;
  background-color: #fa3898;
}

