.fondoDetail {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  overflow: auto;
}

.contenedorGeneral {
  box-sizing: border-box;
  border-radius: 30px;
  margin: 3rem auto;
  padding-top: 5px;
}

.contenedorSecundario {
  box-sizing: border-box;
  border-radius: 5px;
  border-color: #00a2f0;
  background-color: rgba(255, 255, 255, 0.287);
  margin-top: 1.5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.5%;
  padding-top: 5px;
  padding-bottom: 10px;
}
.tituloName {
  font-weight: bold;
  font-size: 3.3rem;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.image {
  width: 60%;
  vertical-align: middle;
  margin-bottom: 20px;
  padding: 0;
  border-radius: 20px;
}

.items {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
}

.descriptionDetail {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  line-height: 2.3rem;
  align-items: center;
  font-weight: bold;
  min-width: 10px;
  margin-top: 15px;
  text-align: justify;
  padding-right: 3%;
  padding-left: 5%;
  padding-bottom: 1%;
}

.buttonBack {
  padding: 1rem;
  background-color: #191630;
  color: #42bcd5;
  font-size: 1.5 rem;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 0.5rem;
  border: solid 1px #e6215e;
  margin-bottom: 1rem;
}

.buttonBack:hover {
  cursor: pointer;
  background-color: #e6215e;
  transform: translateY(-4px);
}
