
.navbar{
  padding-top: 2rem;
  height: 8rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.436) 0%, rgba(201, 9, 201, 0.425) 80%, rgba(214, 17, 158, 0.575) 100%);
}
.contenedorGeneral {
  box-sizing: border-box;
  border-radius: 30px;
  margin: 3rem auto;
  padding-top: 5px;
}
.imagen{
  padding-top: 1rem;
  background: url('../Assets/info.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.contenedorSecundario {
  box-sizing: border-box;
  border-radius: 5px;
  border-color: #00a2f0;
  background-color: rgb(70, 22, 70);
  margin-top: 1.5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.5%;
  padding-top: 5px;
  padding-bottom: 10px;
}
.tituloName {
  font-weight: bold;
  font-size: 3.3rem;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.image {
  width: 60%;
  vertical-align: middle;
  margin-bottom: 20px;
  padding: 0;
  border-radius: 20px;
}

.items {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
}

.descriptionDetail {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  line-height: 2.3rem;
  align-items: center;
  font-weight: bold;
  min-width: 10px;
  margin-top: 15px;
  text-align: justify;
  padding-right: 3%;
  padding-left: 5%;
  padding-bottom: 1%;
}

.buttonBack {
  padding: 1rem;
  background-color: #191630;
  color: #42bcd5;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 0.5rem;
  border: solid 1px #5e143a;
  margin-bottom: 1rem;
}

.buttonBack:hover {
  cursor: pointer;
  background-color: #fa3898;
  transform: translateY(-4px);
}
