.contenedorCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}

.error {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}


.henry {
  padding: 1rem;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(212, 255, 0, 0.327) 94%, rgba(176, 216, 14, 0.618) 100%);
}
