.titulo {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin: 2rem auto;
  font-family: "Vibur", sans-serif;
  animation: flicker 1.5s infinite alternate;   
}
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.contenedorCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}

.error {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}


.henry {
  padding: 1rem;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(212, 255, 0, 0.327) 94%, rgba(176, 216, 14, 0.618) 100%);
}
