.titulo {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem auto;
}
.contenedorCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}

.contenidoHeader {
  display: grid;
  grid-template-columns: repeat(1, 0.7fr 2fr);
  max-width: 120rem;
  margin: 0 auto;
  align-items: center;
  align-content: center;
}

.error {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.filtrosTarjetas {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.henry {
  padding: 1rem;
}
