.selectConte{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.select {
  display: block;
  padding: 1rem;
  width: 100%;
  background-color: #e6215e;
  border-radius: 0.5rem;
  border: solid 1px #191630;
  color: #191630;
}
.button {
  padding: 1rem;
  background-color: #191630;
  color: #42bcd5;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 0.5rem;
  border: solid 1px #e6215e;
  margin: 1rem auto;
}

.button:hover {
  cursor: pointer;
  background-color: #e6215e;
  transform: translateY(-4px);
}
.buttonSecond {
  display: block;
  padding: 1rem;
  background-color: #3d3a8f;
  color: #e6215e;
  font-size: 1.5 rem;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 0.5rem;
  border: solid 1px #191630;
  margin: 2rem auto;
}

.buttonSecond:hover {
  cursor: pointer;
  background-color: #42bcd5;
  transform: translateY(-4px);
}
