.searchbar {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-end: 1;
}
.searchbar form {
  width: 100%;
  padding: -0.5rem;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 900;
  justify-content: center;
}

.searchbar div {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}
.searchbar .errors {
  grid-column: 1/3;
  grid-row: 2/3;
}

.input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 1px #5e143a;
  background-color: #0b1d3e;
  color: #42bcd5;
  margin-right: 2rem;
  grid-column: 1/2;
  grid-row: 1/2;
}

.buttons{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.button {
  padding: 1rem;
  background-color: #0b1d3e;
  color: #42bcd5;
  font-size: 1.5 rem;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 0.5rem;
  border: solid 1px #5e143a;
  grid-column: 2/3;
  grid-row: 1/2;
}

.button:hover {
  cursor: pointer;
  background-color: #062e7c;
  transform: translateY(-4px);
}

.errors p {
  font-size: 1.4rem;
  font-weight: lighter;
  color: red;
  text-align: left;
}
